  /*
  .column1 {
    float: left;
    width: 30%;
  }

  .column2 {
    float: left;
    width: 70%;
  }
  
/*
/* Clear floats after the columns */
/*
.row:after {
    content: "";
    display: table;
    clear: both;
  }
*/
#container {
    position: absolute;
    top: 0;
    right: 20%;
    left: 0;
    bottom: 0;
}

#topleft_div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0%;
    width: 25%;
    bottom: 45%;
    background-color:#ffffff;
    text-align:center;
}

#bottomleft_div {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0%;
    width: 25%;
    bottom: 0%;
    background-color:#ffffff;
    text-align:center;
}


#top_div {
    position: absolute;
    top: 0;
    right: 0;
    left: 25%;
    width: 100%;
    bottom: 65%;
    background-color:#009900;
    text-align:center;
}

#bottom_div {
    position: absolute;
    top: 0%;
    right: 0;
    left: 25%;
    width: 95%;
    bottom: 0;
    background-color:#ffffff;
    text-align:center;
    color:#FFFFFF;
}

#Wordcloud {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0%;
  width: 100%;
  bottom: 0;
  background-color:#ffffff;
  text-align:center;
  color:#FFFFFF;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}