{% extends "bootstrap_base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style/newstyle.css') }}">
{% endblock %}
{% block title %} Hansard Explorer {% endblock %}


<!--

-->

{% block content %}
<div id="container">
    <div id="topleft_div">
        {% if selected_constituency != None %}
        <h3>{{ selected_constituency }}</h3>
        {% endif %}
        {% if MP != None %}
        <figure class="figure">
            <img src="{{ MP.image }}" alt="image of {{ MP.full_name }}" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">{{ MP.full_name }}</figcaption>
        </figure>
        <h3>{{ MP.party }}</h3>
        {% endif %}
    </div>
    <div id="bottomleft_div">
        <form method="POST" action="{{url_for('main.search') }}">
            <select class="form-select" name="constituency" method="GET" action="/">
                <option selected="selected" disables hidden>Select constituency</option>
                {% for constituency in constituencies %}
                <option value="{{constituency}}">{{constituency}}</option>"
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>
    <div id="bottom_div">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Wordcloud')">Wordcloud</button>
            <button class="tablinks" onclick="openTab(event, 'Topics')">Topics</button>
            <button class="tablinks" onclick="openTab(event, 'Search')">Search</button>
          </div>
          <div id="Wordcloud" class="tabcontent"></div>
          <div id="Topics" class="tabcontent"></div>
          <div id="Search" class="tabcontent"></div>
    </div>

</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script>
function openTab(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
{% if wordclouddata != None %}
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
<script>
    anychart.onDocumentReady(function () {
        var data = [ 
            {% for W in wordclouddata %}
            { "x": "{{W['word']}}", "value": {{W['value']}}},
            {% endfor %}
        ];

        // create a tag (word) cloud chart
        var chart = anychart.tagCloud(data);

        // set a chart title
        chart.title("Word cloud for {{MP.full_name}}");
        // set an array of angles at which the words will be laid out
        chart.angles([0])
        // enable a color range
        chart.colorRange(true);
        // set the color range length
        chart.colorRange().length('80%');

        // display the word cloud chart
        chart.container("Wordcloud");
        chart.draw();
    });
</script>
{% endif %}
{% endblock %}
