{% extends "bootstrap_base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style/newstyle.css') }}">
{% endblock %}
{% block title %} Hansard Explorer {% endblock %}


<!--

-->

{% block content %}
<div id="container">
    <div id="topleft_div">
        {% if selected_constituency != None %}
        <h3>{{ selected_constituency }}</h3>
        {% endif %}
        {% if MP != None %}
        <figure class="figure">
            <img src="{{ MP.image }}" alt="image of {{ MP.full_name }}" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">{{ MP.full_name }}</figcaption>
        </figure>
        <h3>{{ MP.party }}</h3>
        {% endif %}
    </div>
    <div id="bottomleft_div">
        <form method="POST" action="{{url_for('main.search') }}">
            <select class="form-select" name="constituency" method="GET" action="/">
                <option selected="selected" disables hidden>Select constituency</option>
                {% for constituency in constituencies %}
                <option value="{{constituency}}">{{constituency}}</option>"
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>
    <div id="bottom_div">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Wordcloud')">Wordcloud</button>
            <button class="tablinks" onclick="openTab(event, 'Topics')">Topics</button>
            <button class="tablinks" onclick="openTab(event, 'Search')">Search</button>
        </div>
        <div id="Wordcloud" class="tabcontent"></div>
        <div id="Topics" class="tabcontent">
            {% if topics_data != None %}
            <div class="grid-container">
                {% for i in range(topics_data |length) %}
                <div class="grid-item" id="TopicWordcloud{{i}}" onclick="displayTopicRep({{i}})"></div>
                {% endfor %}
            </div>
            <div id="TopicRep">
                {% for i in range(topics_data |length) %}
                <h2>
                    Topic {{i+1}}
                </h2>
                <div id="TopicRep{{i}}">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Speech</th>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                        </tr>
                        <tr>
                            <td>Row 2, Column 1</td>
                            <td>Row 2, Column 2</td>
                        </tr>
                    </table>
                </div>
               {% endfor %} 
            </div>
            {% endif %}
        </div>
        <div id="Search" class="tabcontent">
            {% if form != None %}
            <form method="POST" action="" {{ url_for('main.search') }}>
                {{ form.hidden_tag() }}
                {{ form.searchTerm.label }} {{ form.searchTerm }}
                {{ form.submit }}
            </form>
            {% endif %}
            <br>
            {% if most_similar != None %}
            <div>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Speech</th>
                    </tr>
                    {% for i in range(most_similar|length) %}
                    <tr>
                        <td>{{ most_similar[i].date }}</td>
                        <td>{{ most_similar[i].text }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script>
    {% if display_tab == 'wordcloud' %}
    document.getElementById("Wordcloud").style.display = "block"
    {% endif %}
    {% if display_tab == 'search' %}
    document.getElementById("Search").style.display = "block"
    {% endif %}
</script>
<script>
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% if wordclouddata != None %}
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
<script>
    anychart.onDocumentReady(function () {
        var data = [
            {% for W in wordclouddata %}
            { "x": "{{W['word']}}", "value": {{ W['value']}}},
        {% endfor %}
        ];

    // create a tag (word) cloud chart
    var chart = anychart.tagCloud(data);

    // set a chart title
    chart.title("Word cloud for {{MP.full_name}}");
    // set an array of angles at which the words will be laid out
    chart.angles([0])
    // enable a color range
    chart.colorRange(true);
    // set the color range length
    chart.colorRange().length('80%');

    // display the word cloud chart
    chart.container("Wordcloud");
    chart.draw();
    });
</script>
{% endif %}
{% if topics_data != None %}
{% for i in range(topics_data |length) %}
<script>
    anychart.onDocumentReady(function () {
        var data = [
            {% for W in topics_data[i] %}
            { "x": "{{W['word']}}", "value": {{ W['value']}}},
        {% endfor %}
        ];

    // create a tag (word) cloud chart
    var chart = anychart.tagCloud(data);

    // set a chart title
    chart.title("Topic {{i+1}}");
    // set an array of angles at which the words will be laid out
    chart.angles([0])
    // enable a color range
    chart.colorRange(false);
    // set the color range length
    // chart.colorRange().length('80%');
    chart.normal().stroke("#000000");
    //chart.normal().fontWeight(600);
    // display the word cloud chart
    chart.container("TopicWordcloud{{i}}");
    chart.draw();
    });
</script>
{% endfor %}
{% endif %}
{% endblock %}